registry=https://registry.npmjs.org/
auto-install-peers=true
strict-peer-dependencies=false
network-timeout=300000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

NPM_CONFIG_REGISTRY=https://registry.npmjs.org/
ENABLE_EXPERIMENTAL_COREPACK=1